*{
 /*    background-color: #fda9ff; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen 
and (min-width : 321px)
{
body{
    background:#87cdfc no-repeat center right;background-size:fixed;
overflow: hidden;
}

.barra__superior{
    position:absolute;
    width: 100%;
    height: 10vw;
    background-color: rgb(73 69 69 / .6);
     top: 0%
}

.bg-image{
    position: absolute;

}

.bg-image--aeste{
    
    right: 5%;
    bottom: 2%;
    height:98vh;
   
}

.bg-image--codigo{
    margin-left:1rem;
    margin-top: 8rem;
    height:45vh;
    opacity: 40%;
    top: -10%
 
}

.bg-image--codigo2{
    margin-left:1rem;
    margin-top: 8rem;
    height:45vh;
    opacity: 40%;
 bottom: 0%;
}


.dre{
    font-family: 'Anton', sans-serif;
    position: absolute;
    overflow: hidden;
    font-size: 19vw;
    top: 0vh;
    margin-left:16vh  ;
    color:rgb(255, 255, 255);
    border-bottom: saddlebrown;
    text-shadow: -1.25rem 1.25rem #f3a2d4;
   
} 

.recuadro-1{
    position: absolute;
    bottom: 30%;
    left: 37%;
    color: #ccc448;
    background-color:rgba(31,33,46,.5);
    width: 35vw;
    height: 10vw;
    border-radius: 15px 15px 15px 15px;
}

.recuadro-1-borde{
    position: relative;
    background-color:rgba(31,33,46,.7);;
    width: 3vw;
    height: 10vw;
    border-radius: 15px 0px 0px 15px;
   
}

.recuadro-2{
    position: absolute;
    bottom: 3%;
    left: 37%;
    color: #ccc448;
    background-color:rgba(31,33,46,.5);
    width: 35vw;
    height: 10vw;
    border-radius: 15px 15px 15px 15px;
}

.recuadro-2-borde{
    position: relative;
    background-color:rgba(31,33,46,.7);;
    width: 3vw;
    height: 10vw;
    border-radius: 15px 0px 0px 15px;

}

.recuadro-2-imagen{
    position:absolute;
    color:#10d2ba;
    opacity: 100%;
    margin-top:0.7em;
    margin-left:0.4rem;
    max-width: 2.3vw;
    overflow: hidden;
    size: fixed;
    
}
.faaas{
    position:relative;
    z-index: 10;
    color:#10d2ba;
    opacity: 100%;
    margin-top:0.3em;
    margin-left:0.325rem;
    margin-left:0.4rem;
    max-width: 2.5vw;
    overflow: hidden;
}

.datos{
    position: absolute;
    font-family: 'Ubuntu Mono', monospace;
    font-size:1.5vw;
   overflow: hidden;
    color:white;
    width: 18vw;
    height: 10vw;
    left: 10%;
top: 0.625rem;

}

.prueba{
    padding-top: 3em;
   display: inline;
   
}

.recuadro-1-vinculos{
    position:absolute;
  display: flex;
  flex-direction: column;
  
 
    right: 1%;
bottom: 0%;
    height: 8vw;
    width: 11vw;
    
}

.vinculos-letra-propiedades{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color:rgb(250, 199, 239);
    font-size: 1.8vw
}

.riddle{
    color:#eff348;
   

}

.vinculo-riddle{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.vinculo-instagram{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.vinculo-mail{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}



.circulo-riddle{
       height: 1.6vw;
    width: 1.6vw;
    background-color:#eff348;
    color:seashell;
    border-radius: 0.8vw;
}

.circulo-contacto{
   
    height: 1.6vw;
    width: 1.6vw;
    background-color:#46d0b1;
    border-radius: 0.8vw;
}

.circulo-redes{
    
    height: 1.6vw;
    width: 1.6vw;
    background-color:#fb638a;
    border-radius: 0.8vw
}
.insta{
    color:#fb638a;
}
.contacto{
    color:rgb(139, 231, 188)
}


.conocimientos{
position: absolute;
display: flex;

flex-direction:row;

align-items: center;
justify-content: space-around;

    width: 32vw;
    height: 9vw;
    bottom: 0%;
    right:0%;
  
}

.programacion{
    display: flex;
    align-content:space-around;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(31,33,46,.5);;
    width: 15vw;
    height: 8vw;
    border-radius: 0.5vw;

}


.disenio{
    display: flex;
    align-content:space-around;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(31,33,46,.5);;
    width: 15vw;
    height: 8vw;
    border-radius: 0.5vw;
}

.iconos{
    height: 5vw;
}

.icono-js{
    height: 4vw;
}
}

@media screen 
and (min-width:321px) and (max-width : 1300px)
{
body{
    background-color: rgb(115, 241, 241);
}

.dre{
    font-size:20vw;
    left: -10vw;
    text-shadow: 0.5rem 0.5rem #c7e642;

}
.recuadro-1{
    height: 18vw;
    width: 60vw;
    left:35%;
    margin-bottom: 1vw;
}
.recuadro-1-borde{
    position: relative;
    background-color:rgba(31,33,46,.7);;
    width: 5vw;
    height: 18vw;
    border-radius: 15px 0px 0px 15px;
   
}

.faaas{
    position:relative;
    z-index: 10;
    color:#fda9ff;
    opacity: 100%;
    margin-top:0.5em;
    margin-left:0.325rem;
    margin-left:0.1rem;
    max-width: 5vw;
    overflow: hidden;
}

.recuadro-2{
    height: 15vw;
    width: 60vw;
    left:35%;
    
}
.recuadro-2-borde{
    position: relative;
    background-color:rgba(31,33,46,.7);;
    width: 5vw;
    height: 15vw;
    border-radius: 15px 0px 0px 15px;
}

.recuadro-2-imagen{
    position:absolute;
    color:#fda9ff;
    opacity: 100%;
    margin-top:0.9em;
    margin-left:0.3rem;
    max-width: 4.3vw;
    overflow: hidden;
    size: fixed;
    
}

.datos{
    position: absolute;
    font-family: 'Ubuntu Mono', monospace;
    font-size:2.5vw;
  
    color:white;
    width: 27vw;
    height: 17vw;
    left: 9%;
top: .9rem;

}

.recuadro-1-vinculos{
    position:absolute;
  display: flex;
  flex-direction: column;
 
    right: 1%;
bottom: 0%;
    height: 13vw;
    width: 22vw;
}



.vinculos-letra-propiedades{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    background-color: rgba(31,33,46,);
    font-size: 3.5vw
}
.circulo-riddle{
    height: 3vw;
 width: 3vw;
 background-color:#eff348;
 color:seashell;
 border-radius: 1.5vw;
}

.circulo-contacto{

 height: 3vw;
 width: 3vw;
 background-color:#46d0b1;
 border-radius: 1.5vw;
}

.circulo-redes{
 
 height: 3vw;
 width: 3vw;
 background-color:#fb638a;
 border-radius: 1.5vw
}


.conocimientos{
   
    width: 55vw;
    height: 13vw;
    bottom: 5%;
    right:0%;

}

.programacion{
   
    width: 26vw;
    height: 12vw;
    border-radius: 4vw;

}

.disenio{
    
    background-color:rgba(31,33,46,.5);;
    width: 26vw;
    height: 12vw;
    border-radius: 4vw;
}

.iconos{
    height: 7.3vw;
}

.icono-js{
    height: 5vw;
}

.dre{
    text-shadow: 0.5rem 0.5rem #fda9ff;
    font-size: 17vw;
    left:8vw;
    top:1vw;
    margin-left:0px ;
   

}

.barra__superior{
    height: 15vw;
}
}










@media only screen 
and (max-width : 768px) 
{
body{
    background-color: #71EFA3;
    overflow: hidden;
}

.recuadro-1{
    height: 30vw;
    width: 98vw;
    left:1%;
    margin-bottom: 4vw;
}
.recuadro-1-borde{
    position: relative;
    background-color:rgba(31,33,46,.7);;
    width: 10vw;
    height: 30vw;
    border-radius: 15px 0px 0px 15px;
   
}

.faaas{
    position:relative;
    z-index: 10;
    color:#fda9ff;
    opacity: 100%;
    margin-top:0.6em;
    margin-left:0.325rem;
    margin-left:0.1rem;
    max-width: 10vw;
    overflow: hidden;
}

.recuadro-2{
    height: 30vw;
    width: 98vw;
    left:1%;
    
}
.recuadro-2-borde{
    position: relative;
    background-color:rgba(31,33,46,.7);;
    width: 10vw;
    height: 30vw;
    border-radius: 15px 0px 0px 15px;
}

.recuadro-2-imagen{
    position:absolute;
    color:#fda9ff;
    opacity: 100%;
    margin-top:1.3em;
    margin-left:0.4rem;
    max-width: 8.5vw;
    overflow: hidden;
    size: fixed;
    
}

.datos{
    position: absolute;
    font-family: 'Ubuntu Mono', monospace;
    font-size:4vw;
  
    color:white;
    width: 48vw;
    height: 28vw;
    left: 12%;
top: 0.625rem;

}

.recuadro-1-vinculos{
    position:absolute;
  display: flex;
  flex-direction: column;
 
    right: 1%;
bottom: 0%;
    height: 20vw;
    width: 35vw;
}



.vinculos-letra-propiedades{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    background-color: rgba(31,33,46,.5);
    font-size: 5vw
}
.circulo-riddle{
    height: 4vw;
 width: 4vw;
 background-color:#eff348;
 color:seashell;
 border-radius: 2vw;
}

.circulo-contacto{

 height: 4vw;
 width: 4vw;
 background-color:#46d0b1;
 border-radius: 2vw;
}

.circulo-redes{
 
 height: 4vw;
 width: 4vw;
 background-color:#fb638a;
 border-radius: 2vw
}


.conocimientos{
    
    width: 89vw;
    height: 29vw;
    bottom: 0%;
    right:0%;

}

.programacion{
    
    width: 40vw;
    height: 20vw;
    border-radius: 4vw;

}

.disenio{
    
    background-color:rgba(31,33,46,.5);;
    width: 40vw;
    height: 20vw;
    border-radius: 4vw;
}

.iconos{
    height: 13vw;
}

.icono-js{
    height: 12vw;
}

.dre{
    text-shadow: 0.5rem 0.5rem #fda9ff;
    font-size: 27vw;
    left:5vw;
    top:-5vw;
    margin-left:0px ;
   

}

.barra__superior{
    height: 20vw;
}
}


@media only screen and (max-width: 768px) and (orientation: landscape) {

    body{
        background-color: #F08FC0;
    }
.dre{
    font-size: 15vw;
    top: -1vw;

}
    .barra__superior{
        height: 12vw;
    }

    .recuadro-1{
        width: 80vw;
        height: 17vw;
        top: 19vw;
    }
.recuadro-1-borde{
    height:17vw ;
    width: 9vw;
}
.faaas{
    width: 8vw;
    top: 1.5vw;
    
}

.datos{
    position: absolute;
    font-family: 'Ubuntu Mono', monospace;
    font-size:3vw;
    
    color:white;
    width: 35vw;
    height: 16vw;
    left: 12%;
top:1rem;

}
.vinculos-letra-propiedades{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-size: 4vw;
   background-color:rgb(187, 131, 131 .0);
    margin-left: 8vw;
    margin-right: 1vw;
}

.recuadro-1-vinculos{
top:2vw;;
    text-align: left;

  /* align-items: ; */
background-color: none ;
}


.circulo-riddle{
    height: 4vw;
 width: 4vw;
 background-color:#eff348;
 color:seashell;
 border-radius: 2vw;
}

.circulo-contacto{

 height: 4vw;
 width: 4vw;
 background-color:#46d0b1;
 border-radius: 2vw;
}

.circulo-redes{
 
 height: 4vw;
 width: 4vw;
 background-color:#fb638a;
 border-radius: 2vw
}

    .recuadro-2{
        display: none;
        width: 98vw;
        height: 19vw;
    } 
.recuadro-2-borde{
    height: 19vw;
    width: 8vw;
}

.recuadro-2-imagen{
    width: 6.5vw;
    top:2.5vw;
    left: -0.1vw
}

.conocimientos{
    
height: 18vw;
left:8vw
}
.programacion{
    height: 16vw;
    width: 43vw;
}

.disenio{
    height: 16vw;
    width: 43vw;
}




}
