/* *{
    background-color: lightblue;
    
}
h1{
    background-color: lightgray;
} */

/* #testeito{
    background-color: lime;
} */

body{
    background-color: rgb(97, 19, 93);
    color: rgb(74, 240, 138)
}

.block{
    background-color: rgb(88, 211, 51);
    color:rgb(93, 100, 81);
    width: absolute;
    height: 30px;
    padding-top: 10px;
    margin-left:auto;
    margin-top: 40px;
    margin-right: auto;
    border-radius: 150px 150px 0px 0px;

}
.inlin{
    background-color: rgb(244, 164, 252);
    color: inherit;
    
}

.start{ 
    margin-left: 300px;
    margin-top: 35px;
    padding-left: 40px;
    padding-right: 50px
}


.buttons{
    background-color: rgb(126, 248, 228);
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.pruebita{
    background-color: #666;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0px 0px 150px 150px;
margin-bottom: 10px;
color: whitesmoke
}

.button{
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    color: rgb(29, 18, 20);
    border:rgb(97, 19, 93);
    border-top: 20px
    
}

.circulo{
    color:rgb(29, 18, 20);
    background-color: cornsilk;
    width: 20px;
    height: 20px;
    
    border-radius: 50px;
}